<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>客户个人页面</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"/>

</head>
<body>
<!-- 导航条-->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">帮跑小子</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample03"
            aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarsExample03" style="">
        <ul class="navbar-nav mr-auto">
            <li class="nav-customer">
                <a class="nav-link" th:href="@{/customer/index}">我要下单 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-customer active">
                <a class="nav-link" th:href="@{/customer/lists}">我的订单</a>
            </li>
        </ul>

    </div>
</nav>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Pricing</h1>
    <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example.
        It's built with default Bootstrap components and utilities with little customization.</p>
</div>
<div class="container">
    <div class="row">
        <div th:if="${tip} != null" class="alert alert-success" th:text="${tip}"></div>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>登录账号</th>
                <th>客户昵称</th>
                <th>登录密码</th>
                <th>是否配送员</th>
                <th>申请状态</th>
                <th>手机号码</th>
                <th>注册时间</th>


            </tr>
            </thead>
            <tbody>
            <tr>
                <td>#</td>
                <td th:text="${customer.username}">#</td>
                <td th:text="${customer.nickname}">#</td>
                <td th:text="${customer.password}">#</td>
                <td>
                   <span th:if="${customer.type == 1}">否

                   </span>
                    <span th:if="${customer.type == 2}">是</span>
                </td>
                <td>
                   <span th:if="${customer.applyStatus == 0}">未申请
                    <a th:href="@{/customer/apply}">申请</a>
                   </span>
                    <span th:if="${customer.applyStatus == 1}">申请中</span>
                    <span th:if="${customer.applyStatus == 2}">申请通过</span>
                    <span th:if="${customer.applyStatus == 9}">申请不通过
                    <a th:href="@{/customer/apply}">申请</a>
                   </span>
                </td>

                <td th:text="${customer.mobile}">#</td>
                <td th:text="${#dates.format(customer.registTime,'yyyy-MM-dd HH:mm:ss')}"></td>

            </tr>
            </tbody>
        </table>

    </div>
    <footer class="pt-4 my-md-5 pt-md-5 bcustomer-top">
        <div class="row">
            <div class="col-12 col-md">
                <img class="mb-2" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="24"
                     height="24"/>
                <small class="d-block mb-3 text-muted">© 2017-2018</small>
            </div>
            <div class="col-6 col-md">

                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Cool stuff</a></li>
                    <li><a class="text-muted" href="#">Random feature</a></li>
                    <li><a class="text-muted" href="#">Team feature</a></li>
                    <li><a class="text-muted" href="#">Stuff for developers</a></li>
                    <li><a class="text-muted" href="#">Another one</a></li>
                    <li><a class="text-muted" href="#">Last time</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Resource</a></li>
                    <li><a class="text-muted" href="#">Resource name</a></li>
                    <li><a class="text-muted" href="#">Another resource</a></li>
                    <li><a class="text-muted" href="#">Final resource</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Team</a></li>
                    <li><a class="text-muted" href="#">Locations</a></li>
                    <li><a class="text-muted" href="#">Privacy</a></li>
                    <li><a class="text-muted" href="#">Terms</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>
</html>